<div class="max-w-4xl px-10 py-4 rounded-2xl shadow-md bg-white">
  <div class="flex justify-between items-center">
    <span class="text-gray-600 font-bold rounded">{{ item.id }}</span>
    <button (click)="onDelete(item)" class="px-2 py-1 border-2 border-red-200 text-red-500 font-bold rounded hover:text-red-600">
      Delete
    </button>
  </div>
  <div class="mt-2">
    <a
      [routerLink]="['/post', item.id]"
      class="text-2xl text-gray-700 font-bold hover:underline"
      [ngStyle]="{
        color: isEven ? 'red' : ''
      }"
    >
      {{ item.title }}
    </a>
    <p class="mt-2 text-gray-600">
      {{ item.body }}
    </p>
  </div>
  <div class="flex justify-between items-center mt-4">
    <a [routerLink]="['/post', item.id]" class="text-blue-500 hover:underline">Read more</a>
    <div>
      <a href="#" class="flex items-center">
        <div class="mx-4 w-10 h-10 object-cover rounded-full bg-blue-500"></div>
        <h1 class="text-gray-700 font-bold hover:underline">User Name</h1>
      </a>
    </div>
  </div>
</div>