<div class="min-h-full flex flex-col bg-gray-200">
  <app-header></app-header>
  <main class="flex-1 flex flex-col container mx-auto py-4">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>
