<h1 class="page-title">Post</h1>

<form class="relative max-w-lg mb-4 shadow-md" [formGroup]="searchForm">
  <svg
    width="20"
    height="20"
    fill="currentColor"
    class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-blue-500"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
    />
  </svg>
  <input
    formControlName="query"
    class="blog-input pl-10"
    type="text"
    aria-label="Filter projects"
    placeholder="Filter projects..."
  />
</form>

<div class="grid grid-cols-3 gap-4">
  <!-- COL-1 -->
  <div class="col-span-2 flex flex-col gap-3">
    <div class="flex gap-3 text-gray-500">
      <button routerLink="all-posts"
              class="font-medium p-4 hover:border-b-gray-300 border-2"
              routerLinkActive="hover:border-b-blue-500 text-blue-500 border-b-blue-500"
      >All Posts</button>

      <button routerLink="my-posts"
              class="font-medium p-4 hover:border-b-gray-300 border-2"
              routerLinkActive="hover:border-b-blue-500 border-b-blue-500 text-blue-500"
      >My Posts</button>
    </div>

    <router-outlet></router-outlet>
  </div>

  <!-- COL-2 -->
  <div>
    <app-post-form (submitPostForm)="onAddPost($event)"></app-post-form>
  </div>
</div>

<!--<h2 *ngIf="error$ | async as error" class="text-2xl text-red-700 text-center">{{ error }}</h2>-->
